<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="secondary"
        [defaultHref]="['/anagrafica/anagrafica-details',userData.id]"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">Modifica Anagrafica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">

    <ion-card>

      <ion-card-content class="ion-no-padding">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <ion-item-group formGroupName="cittadino">
              <ion-item-divider>
                <ion-label> Cittadino </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-input label="Codice Fiscale *" labelPlacement="floating" placeholder="Codice Fiscale"
                  formControlName="codiceFiscale"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Nome *" labelPlacement="floating" placeholder="Nome"
                  formControlName="nome"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Cognome *" labelPlacement="floating" placeholder="Cognome"
                  formControlName="cognome"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Data Nascita" labelPlacement="floating" placeholder="Data di Nascita"
                  formControlName="dataDiNascita"></ion-input>
              </ion-item>

              <ion-item>
                <ion-select label="Genere" labelPlacement="floating" formControlName="genere">
                  <ion-select-option value="M">M</ion-select-option>
                  <ion-select-option value="F">F</ion-select-option>
                  <ion-select-option value="N">Nonbinario</ion-select-option>
                </ion-select>

                <!--  <ion-input label="Genere *" labelPlacement="floating" placeholder="Genere"
                  formControlName="genere"></ion-input> -->
              </ion-item>
              <ion-item>
                <ion-input label="Cittadinanza *" labelPlacement="floating" placeholder="Cittadinanza"
                  formControlName="cittadinanza"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Data Creato" labelPlacement="floating" placeholder="Data Creato"
                  formControlName="createDate"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Ultima modifica" labelPlacement="floating" placeholder="Ultima modifica"
                  formControlName="lastUpdateDate"></ion-input>
              </ion-item>

              <!--       <div formGroupName="luogo_nascita">
                              <ion-item>
                                <ion-input label="Comune" labelPlacement="floating" placeholder="Comune"
                                           formControlName="comune"></ion-input>
                              </ion-item>
              
                              <ion-item>
                                <ion-input label="Provincia" labelPlacement="floating" placeholder="Provincia"
                                           formControlName="provincia"></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-input label="Stato" labelPlacement="floating" placeholder="Stato"
                                           formControlName="stato"></ion-input>
                              </ion-item>
                            </div> -->

            </ion-item-group>

            <!--       <ion-item-group formGroupName="residenza">
              <ion-item-divider>
                <ion-label> Residenza </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-input label="Indirizzo" labelPlacement="floating" formControlName="indirizzo"
                           placeholder="Indirizzo"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Civico" labelPlacement="floating" formControlName="civico"
                           placeholder="Civico"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="CAP" labelPlacement="floating" formControlName="cap" placeholder="cap"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Comune Residenza" labelPlacement="floating" formControlName="comune_residenza"
                           placeholder="Indirizzo"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Provinica Residenza" labelPlacement="floating" formControlName="provincia_residenza"
                           placeholder="Provinica Residenza"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Stato Residenza" labelPlacement="floating" formControlName="stato_residenza"
                           placeholder="Stato Residenza"></ion-input>
              </ion-item>
            </ion-item-group> -->

            <!--       <ion-item-group formGroupName="contatti">
              <ion-item-divider>
                <ion-label> Contatti </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-input label="Telefono" labelPlacement="floating" formControlName="telefono"
                           placeholder="Telefono"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Email" labelPlacement="floating" formControlName="email"
                           placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Pec" labelPlacement="floating" formControlName="pec" placeholder="Pec"></ion-input>
              </ion-item>

            </ion-item-group> 

            <ion-item-group formArrayName="documenti_identita">
              <ion-item-divider>
                <ion-label> Documenti Identita </ion-label>
              </ion-item-divider>
              <div *ngFor="let doc of documentiIdentitaForms; let i = index" [formGroupName]="i">

                <ion-item>
                  <ion-input label="Tipo Documento" labelPlacement="floating" formControlName="tipo_documento"
                             placeholder="Tipo Documento"></ion-input>
                </ion-item>


                <ion-item>
                  <ion-input label="Numero Documento" labelPlacement="floating" formControlName="numero_documento"
                             placeholder="Numero Documento"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="Data Emissione" labelPlacement="floating" formControlName="data_emissione"
                             placeholder="Data Emissione"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="Data Scadenza" labelPlacement="floating" formControlName="data_scadenza"
                             placeholder="Data Scadenza"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="Ente emittente" labelPlacement="floating" formControlName="ente_emittente"
                             placeholder="Ente emittente"></ion-input>
                </ion-item>
              </div>

            </ion-item-group>

            <ion-item-group formGroupName="altri_dettagli">

              <ion-item-divider>
                <ion-label> Altri Dettagli </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-input label="Stato Civile" labelPlacement="floating" formControlName="stato_civile"
                           placeholder="Stato Civile"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Ultimo Aggiornamento" labelPlacement="floating"
                           formControlName="data_ultimo_aggiornamento" placeholder="Ultimo Aggiornamento"></ion-input>
              </ion-item>

            </ion-item-group>-->


          </ion-list>

          <div class="ion-padding">
            <ion-button type="submit">Invia</ion-button>
            <ion-button fill="outline" (click)="cancelModifiedInputs()">Annulla</ion-button>
          </div>
        </form>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>

<app-footer></app-footer>