ion-item-divider.md {
    --color: var(--ion-color-step-850, var(--ion-text-color-step-150, #262626));
    border-radius: 0;
    position: relative;
    font-size: 1.0625rem;
    font-weight: 600;

}
ion-item-divider.ios {
 --background : transparent;
}


.list-md {
    padding-top: 0;
}


.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-button {
        flex-grow: 1;
        margin: 0 5px;
    }
}

 swiper-container {
    height: 100%;
}

swiper-slide {
    padding: 16px;
}
 
ion-button.md{
    --border-radius: 10px;
}
.bottom-modal {
    --height: 56%;
    --border-radius: 16px 16px 0 0;
  }
