<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/anagrafica"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">Anagrafica dettagli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">

    <!--     <ion-breadcrumbs>
      <div *ngFor="let b of breadCrumbs">
        <ion-breadcrumb [routerLink]="[b.url]">{{b.name}}</ion-breadcrumb>
      </div>
    </ion-breadcrumbs> -->

    <ion-list>
      <ion-item-group>
        <ion-item-divider>Cittadino</ion-item-divider>
        <ion-item>
          <ion-label>
            <h4>Codice Fiscale</h4>
            <p>{{userData.cittadino.codiceFiscale}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Nome</h4>
            <p>{{userData.cittadino.nome}}</p>
          </ion-label>

        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Cognome</h4>
            <p>{{userData.cittadino.cognome}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Data di Nascita</h4>
            <p>{{userData.cittadino.dataDiNascita | date}}</p>
          </ion-label>

        </ion-item>

        <ion-item>
          <ion-label>
            <h4>Genere</h4>
            <p>{{userData.cittadino.genere}}</p>
          </ion-label>

        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Cittadinanza</h4>
            <p>{{userData.cittadino.cittadinanza}}</p>
          </ion-label>

        </ion-item>

             

      <ion-item>
        <ion-label>
          <h4>Data creato</h4>
          <p>{{userData.cittadino.createDate | date}}</p>
        </ion-label>

      </ion-item>
      <ion-item>
        <ion-label>
          <h4>Ultima modifica</h4>
          <p>{{userData.cittadino.lastUpdateDate | date}}</p>
        </ion-label>

      </ion-item>

        <div>
          <ion-item-divider>Luogo nascita</ion-item-divider>
          <ion-item>
            <ion-label>
              <h4>Comune</h4>
              <p>{{userData.cittadino.luogo_nascita?.comune}}</p>
  
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <h4>Provincia</h4>
              <p>{{userData.cittadino.luogo_nascita?.provincia}}</p>
  
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <h4>Stato</h4>
              <p>{{userData.cittadino.luogo_nascita?.stato}}</p>
  
            </ion-label>
          </ion-item>
        </div>
      
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>Residenza</ion-item-divider>
        <ion-item>
          <ion-label>
            <h4>Indirizzo</h4>
            <p>{{userData.cittadino.residenza?.indirizzo || '-'}}</p>

          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h4>Civico</h4>
            <p>{{userData.cittadino.residenza?.civico || '-'}}</p>

          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h4>CAP</h4>
            <p>{{userData.cittadino.residenza?.cap || '-'}}</p>

          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Comune Residenza</h4>
            <p>{{userData.cittadino.residenza?.comuneResidenza || '-'}}</p>

          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Provincia Residenza</h4>
            <p>{{userData.cittadino.residenza?.provinciaResidenza || '-'}}</p>

          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Stato Residenza</h4>
            <p>{{userData.cittadino.residenza?.statoResidenza || '-'}}</p>

          </ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>Contatti</ion-item-divider>
        <ion-item>
          <ion-label>
            <h4>Telefono</h4>
            <p>{{userData.cittadino.contatti?.telefono || '-'}}</p>

          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h4>Cellulare</h4>
            <p>{{userData.cittadino.contatti?.cellulare || '-'}}</p>

          </ion-label>

        </ion-item>

        <ion-item>
          <ion-label>
            <h4>Email</h4>
            <p>{{userData.cittadino.contatti?.email || '-'}}</p>

          </ion-label>

        </ion-item>
        <ion-item>
          <ion-label>
            <h4>Pec</h4>
            <p>{{userData.cittadino.contatti?.pec || '-'}}</p>

          </ion-label>

        </ion-item>

      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>Documenti Identita</ion-item-divider>
        <div *ngIf="!userData.cittadino.documenti_identita!.length">
          <ion-item>
            Nessun documento
          </ion-item>

        </div>
      <div *ngIf="userData.cittadino.documenti_identita!.length">
        <div *ngFor="let doc of userData.cittadino.documenti_identita; let i = index" style="padding-top: 16px;">
          <ion-text class="ion-padding" style="font-weight: 600;text-decoration: underline;">Documento {{i+1}}</ion-text>
          <ion-item>
            <ion-label>
              <h4>Tipo Documento</h4>
              <p>{{doc.tipo_documento}}</p>
      
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Numero Documento</h4>
              <p>{{doc.numero_documento}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Data Emissione</h4>
              <p>{{doc.data_emissione | date}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Data Scadenza</h4>
              <p>{{doc.data_scadenza | date}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Ente emittente</h4>
              <p>{{doc.ente_emittente}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>  
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>Altri Dettagli</ion-item-divider>
        <ion-item>
          <ion-label>
            <h4>Stato Civile</h4>
              <p>{{userData.cittadino.altri_dettagli?.stato_civile || '-'}}</p>
           
          </ion-label>

        </ion-item>

        <ion-item>
          <ion-label>
            <h4>Ultimo Aggiornamento</h4>
               <p>{{userData.cittadino.altri_dettagli?.data_ultimo_aggiornamento || '-'}}</p> 
           
          </ion-label>

        </ion-item>

      </ion-item-group>

    </ion-list>

    <div class="ion-padding">
      <ion-button [routerLink]="['/anagrafica/modifica-anagrafica',userData.id]">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Modifica</ion-button>
      <ion-button color="danger" (click)="onDeleteClick()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Elimina</ion-button>
    </div>

  </div>

</ion-content>

<app-footer></app-footer>