<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">

    <div class="profile-avatar">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      </ion-avatar>
      <ion-label style="margin-top: 5px; font-size: 22px;">{{ userLoggedIn.nome + ' ' + userLoggedIn.cognome }}</ion-label>
    </div>
    <ion-card class="ion-padding"> 
      <ion-card-header style="margin-inline-start: 24px;">
        <ion-card-title color="tertiary">Informazioni personali</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-list>
          <ion-item>
            <ion-icon name="person-outline" class="profile-icons"></ion-icon>
            <ion-label>
              {{ userLoggedIn.codice_fiscale }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="mail-outline" class="profile-icons"></ion-icon>
            <ion-label>
              {{ userLoggedIn.email }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="information-circle-outline" class="profile-icons"></ion-icon>
            <ion-label>
              {{ userLoggedIn.role }}
            </ion-label>
          </ion-item>


        </ion-list>

      </ion-card-content>

      <div class="ion-padding" class="azioni-buttons">
        <ion-button fill="outline" shape="round" style="margin-right: 10px;">Azione 1</ion-button>
        <ion-button fill="outline" size="default" aria-label="Esci" style="text-transform: capitalize;" shape="round">
          <ion-icon name="log-out-outline"></ion-icon>
          Esci
        </ion-button>
      </div>
    </ion-card>
  </div>


</ion-content>

<app-footer></app-footer>
