<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Ricerca Avanzata</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="primary">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item class="custom-input">
    <ion-label position="stacked">Comune</ion-label>
    <ion-img src="./assets/svg/comune.svg" alt="Comune" slot="start"></ion-img>
   <!--  <ion-icon slot="start" name="location-outline"></ion-icon> -->
    <ion-input [(ngModel)]="comune" type="text" [clearInput]="true">
    </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Indirizzo</ion-label>
     <ion-icon slot="start" name="locate-outline" alt="Indirizzo" style="margin-right: 16px;"></ion-icon> 
    <ion-input [(ngModel)]="indirizzo" type="text" [clearInput]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="home-outline" alt="Stato Disponibilità" style="margin-right: 16px;"></ion-icon>
    <ion-select [(ngModel)]="statoDisponibilita" name="statoDisponibilita" label="Stato Disponibilità"
    labelPlacement="stacked" (ionChange)="selectStato($event)" #stato="ngModel">
    <ion-select-option *ngFor="let tipo of statoDisponibilitas" [value]="tipo">{{tipo | capitalize}}</ion-select-option>
  </ion-select>
  </ion-item>
  
  <div class="ion-padding-top">
    <ion-button expand="block" (click)="search()">Cerca</ion-button>
  </div>
</ion-content>