<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/patrimonio"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">Patrimonio dettagli</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">

    <ion-breadcrumbs>
      <div *ngFor="let b of breadCrumbs">
        <ion-breadcrumb [routerLink]="[b.url]">{{ b.name }}</ion-breadcrumb>
      </div>
    </ion-breadcrumbs>

    <ion-card>

      <ion-card-content class="ion-no-padding">
        <ion-list>
          <ion-item>
            <ion-label>
              <h4>Metri Quadri</h4>
              <p>{{ modelMock.edilizia.metri_quadri }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Quartiere</h4>
              <p>{{ modelMock.edilizia.quartiere }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Zona</h4>
              <p> {{ modelMock.edilizia.zona }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Classe Energetica</h4>
              <p>{{ modelMock.edilizia.classe_energetica }} </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Anno di costruzione</h4>
              <p>{{ modelMock.edilizia.year_of_construction }} </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Provincia</h4>
              <p> {{ modelMock.edilizia.province }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h4>Tipologia di Amministrazione</h4>
              <p>{{ modelMock.riferimentoDetails.tipologia_di_amministrazione }} </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h4>Stato di Disponibilita</h4>
              <p>{{ modelMock.riferimentoDetails.stato_di_disponibilita }} </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h4>Tipo Sfittanza</h4>
              <p>{{ modelMock.riferimentoDetails.tipoSfittanza }} </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h4>Tipologia di Contratto</h4>
              <p> {{ modelMock.riferimentoDetails.tipologia_di_contratto }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h4>Tipo di Registrazione</h4>
              <p>{{ modelMock.riferimentoDetails.tipo_di_registrazione }} </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <h4>Causale di cessazione</h4>
              <p> {{ modelMock.riferimentoDetails.causale_di_cessazione }}</p>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
      <div class="ion-padding">
        <ion-button>Azione 1</ion-button>
        <ion-button fill="outline">Azione 2</ion-button>
        <ion-button color="danger">Azione 3</ion-button>
      </div>
      <!--  {{modelMock | json}} -->
    </ion-card>

  </div>
</ion-content>

<app-footer></app-footer>
