<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{pageTitle | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pageTitle | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <!-- content here -->
</ion-content>

<ion-footer>
  <div class="footer-top">
    <a href="https://www.regione.puglia.it/" title="Regione Puglia" target="_blank" class="footer-logo">
      <img src="./assets/images/logoregionepuglia.png" alt="logo regione Puglia" class="img-fluid">
    </a>
  </div>
  <div class="footer-bottom">
    <ion-title>© Regione Puglia</ion-title>
  </div>
</ion-footer>