<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary">{{pageTitle | titlecase}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">
    <!-- searchBar section -->

    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" class="custom-search-bar"></ion-searchbar>
    <!-- list patrimonio section -->
    <ion-list role="feed">
      <ion-list-header style="color: var(--ion-color-tertiary); font-size: 1rem;">
        <ion-label>Patrimonio List</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let p of results" role="article">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label class="list-item-name">{{ p }}</ion-label>
        <ion-icon name="chevron-forward-outline" color="primary" [routerLink]="[p,'patrimonio-details']"></ion-icon>

      </ion-item>
    </ion-list>

    <!-- scroll content -->

    <ion-infinite-scroll  threshold="100px" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    

  </div>
</ion-content>
<app-footer></app-footer>