// variables.scss

// Primary color
$primary: #0075BF; 

// Warning color
$warning: #FABA00; 

// Danger color
$danger: #D9364F; 

// Success color
$success: #008758; 

// Our Custom Theme Variables (Based on Design Puglia Kit)
:root {
  --ion-color-primary: #0075BF;
  --ion-color-warning: #FABA00;
  --ion-color-danger: #D9364F;
  --ion-color-success: #008758;
  
  //
  --ion-color-secondary: #FF8C00; // secondary color
  --ion-color-tertiary: #4F4F4F;  // tertiary color
  --ion-color-light: #f4f4f4;     // Light color
  --ion-color-medium: #8e8e8e;    // Medium color
  --ion-color-dark: #212121;      // Dark color
  --ion-color-step-50: #f4f7fa;   // Light background
  --ion-color-step-100: #e5e9ef;  // Medium background
  --ion-color-step-200: #f1f1f1;  // Lightest background


}
