<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Side Menu: Navigation Links -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="menu-content">

        <ion-list id="profile-list">
          <ion-list-header class="menu-header">
            <ion-button>
              <a href="https://www.regione.puglia.it/" title="Regione Puglia" target="_blank">
                <ion-img src="./assets/svg/logo-regione-puglia.svg" alt="logo regione Puglia"></ion-img>
              </a>
            </ion-button>
            <ion-label style="padding-inline-start: 16px; padding-top: 5px;" color="secondary">ERP - DI REGIONE PUGLIA</ion-label>
            
           </ion-list-header>

           <ion-item>
            <ion-button fill="clear" style="text-transform: capitalize;">
            <ion-icon name="person-circle-outline" size="large" aria-label="Profile" color="primary"></ion-icon>
            <ion-text style="font-size: 1.25em;">Nome Cognome</ion-text>
          </ion-button>
           </ion-item>
    

        </ion-list>

        <ion-list id="menu-list">
          <!-- Menu Items -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-label color="primary" style="
                text-transform: uppercase; font-weight: bold;">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

      <ion-item style="padding-bottom: 16px;" lines="none">
        <ion-button size="default" aria-label="Esci" style="text-transform: capitalize;">
          <ion-icon name="log-out-outline" aria-hidden="true"></ion-icon>
          Esci
        </ion-button>
      </ion-item>

    </ion-menu>
     <!-- Main Content Section -->
     <ion-content id="main-content" class="content-area" fullscreen>
      <div class="main-content">
        <ion-router-outlet></ion-router-outlet>
      </div>
    </ion-content>
  </ion-split-pane>
</ion-app>
