<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Side Menu: Navigation Links -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header class="menu-header">ERP - DI REGIONE PUGLIA</ion-list-header>
          <!-- Menu Items -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-label color="primary" style="
                text-transform: uppercase; font-weight: bold;">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
     <!-- Main Content Section -->
     <ion-content id="main-content" class="content-area" fullscreen>
      <div class="main-content">
        <ion-router-outlet></ion-router-outlet>
      </div>
    </ion-content>
  </ion-split-pane>
</ion-app>
